/*UTILITIES CODE*/
html{
    height: 100%;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}



.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}



li:not(:last-child) {
    margin-bottom: 1em;
}


body {
    margin: 0;
    height: 100%;

  }





/*HEADER CODE*/




header{
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 100px;

}

.topNav{
    display: flex;
    gap: 1em;
    font-size: 18px;
}


img#homeLogo{
    width:50px;
    height:50px;
    margin-top: auto;
    margin-bottom: auto;
}






/*MAIN CODE*/




.containerHome{

}

.containerClubs{
    flex-wrap: wrap;
    margin-top: 250px;
    margin-right:50px;
    margin-left:50px;
    margin-bottom:100px;
    gap: 10em;
    display: flex;
}



main{
    flex:1;
    flex-wrap: wrap;
    margin-top: 250px;
    margin-right:50px;
    margin-left:50px;
    margin-bottom:100px;
    gap: 10em;
    display: flex;
    justify-content: space-around;
}


.mainContent{
    margin-right:50px;
    border-color: black;
    border-width: 1em;
    border: solid;
    position: static;

}

.subscriptions{
    border-color: black;
    border-width: 1em;
    border: solid;
}


<<<<<<< HEAD
.post{
    min-width: 300px;
=======
/*.post{
    width: 500em;;
>>>>>>> a98d860a36ea3f473b652fb67a3eb06354cfb858
    margin-right: 10px;
    border-color: black;
    border-width: 1em;
    border: solid;
}
*/

#posts {
    border: 1px solid black;
    padding: 10px;
    margin: 0px 10px 10px 150px;
    min-height: 100px;
}



/*FOOTER CODE*/


footer{
<<<<<<< HEAD
    background-color: teal;
    height: 300em;
    text-align: right;
    padding: 25px;
}
=======
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: #6cf;
}


/* test */
>>>>>>> a98d860a36ea3f473b652fb67a3eb06354cfb858
