/*UTILITIES CODE*/
html{
    height: 100%;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}


li:not(:last-child) {
    margin-bottom: 1em;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}





/*HEADER CODE*/




header{
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 100px;

}

.topNav{
    display: flex;
    gap: 1em;
    font-size: 18px;
}


img#homeLogo{
    width:50px;
    height:50px;
    margin-top: auto;
    margin-bottom: auto;
}






/*MAIN CODE*/





.category {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.category:hover {
    transform: scale(1.05);
}


main.clubs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
    background-color: #f1f1f1;
}

main.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10em;
    min-height: calc(100vh - 50px);
}


.mainContent{
    margin-right:50px;
    border-color: black;
    border-width: 1em;
    border: solid;
    position: static;

}

.subscriptions{
    border-color: black;
    border-width: 1em;
    border: solid;
}


.post{
    min-width: 300px;
    margin-right: 10px;
    border-color: black;
    border-width: 1em;
    border: solid;
}


#rsvp-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;


}

#rsvp-options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#rsvp-options .option {
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}

rsvp-options .option.going {
    background-color: #4CAF50;
    color: white;
}

#rsvp-options .option.maybe {
    background-color: #ff9800;
    color: white;

}

#rsvp-options .option.not-going {
    background: #f44336;
    color: white;
}

.hidden {
    display: none;
}





/*FOOTER CODE*/


footer{
    background-color: teal;
    text-align: right;
    padding: 25px;
}
