<!DOCTYPE html>

<html lang="en">
<head>
<title>login</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
<link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="javascripts/script.js" defer></script>
<script src="javascripts/ajax.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>


<body>
    <header class="pure-menu pure-menu-horizontal topnav">
        <div class="pure-menu pure-menu-horizontal topnav-left">
            <a href="home.html" class="pure-menu-heading logo"><img src="images/tree.jpg" alt="Home logo"></a>
        </div>

        <ul class="pure-menu-list topnav-right">
            <li class="pure-menu-item">
                <a href="explore_clubs.html">Clubs</a>
            </li>
            <li class="pure-menu-item">
                <a href="explore_events.html">Events</a>
            </li>
            <li class="pure-menu-item">
                <a href="about.html">About</a>
            </li>

            <li class="pure-menu-item">
                <form class="pure-form">
                    <input type="text" class="pure-input-rounded" />

                </form>
            </li>
            <li class="pure-menu-item">
                <a class="pure-button pure-button-primary" href="login.html">Login</a>
            </li>

        </ul>
    </header>

    <div class="createAccountContainer">
        <div class="form-wrapper">
          <br>
          <br>
          <h1>Create Account</h1>

          <form @submit.prevent="createAccount">
            <label for="email">Email:</label>
            <input type="email" id="email" v-model="email" required>
            <br>

            <label for="username">Username:</label>
            <input type="text" id="username" v-model="username" required>
            <br>

            <label for="password">Password:</label>
            <input type="password" id="password" v-model="password" required>
            <br>

            <label v-show="password !== ''" for="passwordConfirm">Confirm Password:</label>
            <input v-show="password !== ''" type="password" id="passwordConfirm" v-model="passwordConfirm" required>
            <br>
            <br>

            <button onclick="signup()" type="submit" :disabled="password !== passwordConfirm || !passwordConfirm">Create Account</button>
          </form>
          <p v-if="message">{{ message }}</p>
        </div>
      </div>




</body>


</html>